* {
    background-color: rgb(168, 195, 196);
}

.main_page {
    margin: 100px 500px 0px 600px;
    border: rgb(255, 255, 255) solid 3px;
    border-radius: 25px;
    background-color: darkblue;
    padding: 60px 30px;
    text-align: center;
    height: 200px;
    width: 500px;
}

.nav-bar {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-style: italic;
    padding: 20px 40px;
    background-color: inherit;
    list-style-type: square;
    list-style-position: inside;
    text-align: left;
}


.main_page h1 {
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    background-color: inherit;
    margin: 0px;
    text-decoration-line: underline;
}

.nav-bar a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    background-color: inherit;

}

.nav-bar a:hover {
    color: red;
}

.index li {background-color: inherit;
color: white;}

button {
    background-color: grey;
    padding: 10px 15px;
    border-radius: 25px;
    border: 2.5px solid black;
}

button a {
    background-color: grey;
    text-decoration-line: none;
    color: black;
    font-weight: bold;
}

button a:hover {
    color: yellow;
    
}

button:hover {
    border: 2.5px solid yellow;
}

.recipe {
    padding: 20px 40px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
